<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Sundae Chen"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Sundae's Blog" />
    <meta name="keywords" content="Sundae"/>
<style type="text/css">
a:link,a:visited{
 text-decoration:none;
}
a:hover{
 text-decoration:underline;
}
</style>
</head>
    <title>Sundae's Blog</title>
<body>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="black">
	<tr>
		<td height="60%" colspan="4"><img src={{url0}} style="max-width:100%;" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧"></td>
	</tr>
	<tr bgcolor="black" align="center">
		<td width="40%">
			<img src={{url1}} height="100px">
		</td>
        <td width="20%"><a href="http://sundae.applinzi.com/python" target="__blank"><font color="yellow" size="5">Python笔记</font></a></td>
        <td width="20%"><a href="http://sundae.applinzi.com/qingzangxian"><font color="yellow" size="5">青藏</font></a><a href="http://sundae.applinzi.com/chuanzangxian"><font color="yellow" size="5">川藏</font></a></td>
        <td width="20%"><a href="http://sundae.applinzi.com/diary" target="__blank"><font color="yellow" size="5">骑行日记</font></a></td>
	</tr>
</table>

</body>
</html>
