<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Sundae Chen"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Sundae's Blog" />
    <meta name="keywords" content="Sundae"/>
</head>
    <title>Sundae's Cycle</title>
<body background={{url}}>
<center>
<div>
<table border="0">
<tr>
	<td><img src={{url0}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	<td><img src={{url1}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	<td><img src={{url2}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	</tr><tr>	
	<td><img src={{url3}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	<td><img src={{url4}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>	
	<td><img src={{url5}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	</tr><tr>	
	<td><img src={{url6}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	<td><img src={{url7}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	<td><img src={{url8}} height="300px" width="400px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
</tr>
</table>
</div>
<div>
<hr/>
<h4>网站建设中，谢谢支持</h4>
<hr/>
	<table border="0" align="center">
    	<tr>
        	<th>
                <img src={{whuurl}} height="150" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧">
            </th>
			<th>
                <address>
    				Written by <a href="mailto:chxhyfx@163.com">Sundae</a>『在路上随风走』<br/>
    				Visit me at:<br/>
    				<a href="http://sundae.applinzi.com/home" target="__blank">sundae.applinzi.com</a><br/>
    				WHU,China<br/>
    			</address>
            </th>
    	</tr>
	</table>
	<hr/>
	</div>
</center>
</body>
</html>
