<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Sundae Chen"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Sundae's Blog" />
    <meta name="keywords" content="Sundae"/>
</head>
    <title>Sundae's Blog</title>
<body background={{url0}}>
<div>
    <h2>2015年7月8日</h2>
    <p><img src={{url1}} height="440" align="right"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
        「重走天路」【DAY ONE】开始走的路跟正常的不一样，就想不是人很多么！
        我怎么遇不到。后来离雅安还有60km，我终于走上正道了，嗯，人确实多！在上坡默默超过些许人。
        156km，到达雅安，下图为著名的“立马滚蛋”。话说我带的东西真的好多，路过别人的时候就听见他们说“卧槽，带这么多东西！”
        还有一个哥们看我带这么多以为我是一个车队的后勤。。。（咳咳，说几句正话，川藏线跟青藏完全两种feel，
        从来没见过这么多人骑车，不知道人会不会越来越少，最后，祝我明天默秒全，没有两把刷子怎么单飞?低调低调）</font></p>
    <table border="0">
        <tr>
            <th><img src={{url11}} height="300"/></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th><img src={{url12}} height="300"/></th>
        </tr>
    </table>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
        <h2>2015年7月9日</h2>
        <p><img src={{url2}} height="415" align="left"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
        「重走天路之单飞川藏线」【DAY TWO】作为今天从雅安到新沟的最快的三个人，真的默秒全了，
            虽然我带着川藏线上最多的行李骑着最低档的车，反正我骑的快不过路很烂很烂，
            还有不知深浅的水坑，90km骑了九个小时，目测明天二郎山要放掉很多人。
            【疯狂的石头】今天旁边一个大卡车把一块石头崩起来了，直接打到我前面那个骑友身上，
            连人带车直接打翻，还好打到的身上，当时我就吓死了，顿时让我感觉这真是都在拿青春作赌注「珍爱生命，远离骑行」</font></p>
        <table border="0">
        <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url21}} height="300"/></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th><img src={{url22}} height="300"/></th>
        </tr>
    </table>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
        <h2>2015年7月10日</h2>
        <br/>
        <table border="0">
        <tr>
            <th><img src={{url31}} height="300" width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url32}} height="300" width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url33}} width="400" height="300"/></th>
            </tr>
        </table>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
            「重走天路」【DAY THREE】早上过了川藏线的第一道坎——二郎山，
            其实跟秦岭差不多，不过想想三十斤的负重，咳咳，不过依然最快啦。
            路上挺多用快拆货架骑碳架上锁鞋的，早知道应该骑LP出来，不过那样就太快了。
            泸定到康定50km骑了五个多小时，遇上堵车伤不起啊，快到康定的时候饿死了，一会果断去买明天吃的好了，
            我的饺子来了，开吃！对了。今天看到了第一个雪山，虽然离的很远很远。。。</font></p>
        <table border="0">
        <tr>
            <th><img src={{url34}} width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url35}} width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url36}}  width="400"/></th>
            </tr>
        </table>
        </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
        <h2>2015年7月11日-2015年7月14日</h2>
        <h3>写于2016年12月21日</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
            这几天因为信号中断失联了。。。印象中折多山爬了六个小时，因为我爬山的时候中间不喜欢休息，所以你可以想象一下六个小时一直在喘着粗气、
            使劲蹬啊蹬、脑子里面想着乱七八糟的事是什么感觉，恩，锻炼腹肌的感觉。一年多的时间过去了，在这么长的一段时间里因为膝盖问题貌似只骑过一次
            秦岭吧，骑秦岭只用两个小时，转山转的更多的是自己的意志吧，记得高中的时候总是喜欢说那么几句话“你翻过的只是心中的一座山”，“心有多远，骑行就有多远”，
            不知道以后还有没有机会在路上随风走，每看一次过去的照片、拍过的视频，都有一种想要上路的冲动，一开始我很不习惯那种流浪的感觉、漂泊的日子，
            从武汉骑西安的时候一个人也只有拼命的赶路，错过了很多路上的享受，不知道我现在在说些什么啊，人闲了就容易胡思乱想，或许这个博客就是我闲的产物。
            不过马上就要进入下一个阶段了，要学的东西还有好多，感觉自己现在的知识好少、能力好弱，是不是觉得我现在很悲观？哈哈，没关系，天才，好好学好好做，
            又不是学不会，我可是以后要在种花家干一波大事的人呐~</font></p>
        <table border="0">
        <tr>
            <th><img src={{url41}} height="300" width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url42}} height="300" width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url43}} width="400" height="300"/></th>
            </tr>
        </table>
        <h3>这期间翻过的小山们</h3>
        <table border="0">
        <tr>
            <th><img src={{url44}} height="300" width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url45}} height="300" width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url46}} width="400" height="300"/></th>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
        <h2>2015年7月15日</h2>
        <p><img src={{url51}} height="440" align="right"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
        「重走天路」【第二次进藏】【DAY EIGHT】今天是骑318以来最轻松的一天，一路几乎悠闲骑，最后一个山十来公里也比较随意，
         连续七天不搭车不推车不下驼包，火力全开七天也就当今天是休息了，
         这两天遇到的好多骑友都是3号从成都出发的，而我是8号出发的骑的快，就是这么任性。
         （PS：原本我棱角分明英俊帅气的脸现在变成大饼脸了如果你可以在家吃西瓜开坦克，没事不要骑车进藏！！！）</font></p>
        <table border="0">
        <tr>
            <th><img src={{url52}} height="300"/></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th><img src={{url53}} height="300"/></th>
        </tr>
    </table>
        <br/>
        <br/>
        <table border="0">
        <tr>
            <th><img src={{url54}} height="300" width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url55}} height="300" width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url56}} width="400" height="300"/></th>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
        <h2>2015年7月16日</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="楷书" size="4">
            「重走天路」【单飞川藏线】【DAY NINE】今天连翻两座山，第二座山的盘山公路简直跟发卡车道一样，
            可惜我开的不是AE86，网上有人说今天是318最艰难的一天，不知道怎么想的，
            不过说它不难吧，它把我左腿膝盖废了,疼的根本不敢弯着使劲，
            说它难吧，我只用右腿还是征服了它，觉巴山，不过如此。
            突然不那么想骑318了，无非从一个地方到另一个地方，无非翻山再翻山。</font></p>
        <br/>
    <table border="0">
        <tr>
            <th><img src={{url61}} height="300" width="400" /></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url62}} height="300" width="400"/></th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th><img src={{url63}} width="400" height="300"/></th>
            </tr>
        </table>
    </div>   
</body>
</html>
