<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Sundae Chen"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Sundae's Blog" />
    <meta name="keywords" content="Sundae"/>
<style type="text/css">
a:link,a:visited{
 text-decoration:none;
}
a:hover{
 text-decoration:underline;
}
</style>
</head>
    <title>Sundae's Blog</title>
<body>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="black">
	<tr>
        <td colspan="4"><img src={{url0}} style="max-width:100%;" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></td>
	</tr>
	<tr bgcolor="black" align="center">
		<td width="34%" height="100">
			<font color="yellow" size="8">骑行日记</font>
		</td>
        <td width="22%"><a href="http://sundae.applinzi.com/diary/qingzangxian"><font color="yellow" size="5">青藏线日记</font></a></td>
        <td width="22%"><a href="http://sundae.applinzi.com/diary/chuanzangxian"><font color="yellow" size="5">川藏线日记</font></a></td>
        <td width="22%"><a href="http://v.youku.com/v_show/id_XNTkzODkyMjUy.html?from=s1.8-1-1.2"><font color="yellow" size="5">单车带我去西藏</font></a></td>
	</tr>
</table>

</body>
</html>
