<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="It's me"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="HAPPY" />
</head>
    <title>Happy New Year</title>
<body background={{url1}}>
<div>
	<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  	<tr>
    <td valign="top" align="left"><img src={{url2}} width="189" height="392"><img src={{url6}} height="230"></td>
    <td align="center">
      <img src={{url3}} width="408" height="70"><br>
      <img src={{url4}} width="600" height="550"><br>
      </td>
      <td valign="top" align="center" width="110"><img src={{url5}} width="90" height="410"></td>
    </table>
</div>
    <br/>
    <br/>
    <br/>
<div>
    <center>
        <font color="white" size="6"><b>祝福你身体健康，万事如意，新年快乐!</b></font>
    </center>
</div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/>
    <br/>
    <div>
    <center>
        <table border="0">
            <tr>
                <td><img src={{url7}} width="168" height="152"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><img src={{url8}} ></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><img src={{url7}} width="168" height="152"></td>
            </tr></table>
    </center>
</div>
    <br/>
    <br/>
    <br/>
<div>
    <center>
        <font color="green" size="6"><b>祝福你平安快乐，福如东海，寿比南山!</b></font>
    </center>
</div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/>
    <br/>
    <div>
        <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">    
    <tr>
      <td align="center" valign="bottom"><img src={{url9}} width="100" height="100"></td>
      <td align="center" class="aa1" width="250"><img src={{url9}} width="200" height="200"></td>
      <td align="center" valign="bottom"><img src={{url9}} width="100" height="100"></td>
    </tr>
</table>  
<table width="790" border="0" align="center" cellpadding="0" cellspacing="0">    
            <tr>
              <td align="center"><img src={{url11}} width="128" height="128"></td>
              <td width="6%">&nbsp;</td>
              <td width="60%" align="center"><img src={{url10}} width="400" height="300"></td>
              <td width="6%">&nbsp;</td>
              <td align="center"><img src={{url11}} width="128" height="128"></td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
<div>
    <center>
        <font color="yellow" size="6"><b>祝福你财源广进，事业顺利，步步高升!</b></font>
    </center>
</div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/>
    <br/>
    <div>
        <center>
        <pre><font size="6" color="yellow">
新春节日到，给您问个好，办事步步高，生活乐陶陶，
好运天天交，越长越俊俏，家里出黄金，墙上长钞票。
愿你在2017年，天天开怀，时时快乐，分分精彩，秒秒幸福。
美酒金樽幸福满，尝尽快乐展笑颜，如意水饺盘中餐，无忧水煮香气散，
春联高挂福高悬，吉祥降临平安院，爆竹声声辞旧岁，迎接开心快乐年。
新春佳节，祝你快乐斩不断，幸福更长远!</font></pre>
        </center>
</div>
    <br/><br/><br/>
<div><center>
    <img src={{url12}}>
    </center>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div>
        <p><font size="6" color="white" face="楷书">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
What！？我辛辛苦苦做的这么具有节日气氛，如此喜庆的网页！你们竟然说我骗朋友圈？喷我欣赏水平太低？上面的祝福都是真心的，哪条有问题？亏我挨个设了这么多密码！既然你们执意说我骗流量，我们只好
</font></p>
</div>
    <div>
        <center>
            <img src={{url13}}>
        <form name="newyear" action="/who" method="post">
            <input type="submit" name="Submit" value="拉闸"/>
            
        </form>
            </center>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr/>
    <br/>
    <div>
<table border="0" align="center">
    	<tr>
        	<th>
                <img src={{whuurl}} height="150px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧">
            </th>
			<th>
                <address>
                    <font color="white">Written by </font><a href="mailto:chxhyfx@163.com"><font color="white">Sundae</font></a><font color="white">『在路上随风走』</font><br/>
                    <font color="white">Visit me at:</font><br/>
                    <a href="http://sundae.applinzi.com/home" target="__blank"><font color="white">sundae.applinzi.com</font></a><br/>
                    <font color="white">WHU,China</font><br/>
    			</address>
            </th>
    	</tr>
	</table>
    </div>
    <br/>
    <hr/>
    <br/>

</body>
</html>
