<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Sundae Chen"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Sundae's Website" />
    <meta name="keywords" content="Sundae,WHU"/>
<style>
.cities {
    background-color:yellow;
    color:black;
}	
</style>
</head>
    <title>Sundae's Website</title>
<body>

<div class="cities">
<center>
	<br/>
	<h1>Welcome To Sundae's Website</h1>
	<p>Website is building, thank you for your support.</p>
	<br/>
    <hr/>
    <table border="0" width="100%" bgcolor="white">
        <tr><th width="24%" align="center">
    <table border="0" height="100%">
        <tr>
            <th>
                <h3>电脑版请访问</h3>
                <br/>
                <a href="http://sundae.applinzi.com"><img src={{url1}} width="80px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></a>
            </th></tr>
        <tr>
            <th>
                <h3>手机版请访问</h3>
                <br/>
                <a href="http://sundae.applinzi.com/phone"><img src={{url2}} width="80px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></a>
            </th>
        </tr>
        <tr>
            <th>
                <h3>我的博客</h3>
                <br/>
                <a href="http://sundae.applinzi.com/blog" target="_blank"><img src={{url3}} width="80px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧" /></a>
            </th>
        </tr>
    </table>
            </th>
            <th width="76%">
                <img src={{url5}} style="max-width:100%;" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧"/>
            </th>
        </tr>
    </table>
        
    
    
    <hr/>
    <table border="0" align="center">
    	<tr>
        	<th>
                <img src={{url4}} height="150px" alt="图片被浏览器拦截了/(ㄒoㄒ)/~~换个浏览器或者设置后重试吧"/>
            </th>
			<th>
                <address>
    				Written by <a href="mailto:chxhyfx@163.com">Sundae</a>『在路上随风走』<br/>
    				Visit me at:<br/>
    				<a href="http://sundae.applinzi.com/home" target="__blank">sundae.applinzi.com</a><br/>
    				WHU,China<br/>
    			</address>
            </th>
    	</tr>
	</table>
    <hr/>
</center>   
</div>
</body>
</html>
