<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="It's me"/>
    <meta name="Web Server" content="SinaAppEngine"/>
    <meta name="description" content="Happy" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script>
$(document).ready(function(){
  $("button").click(function(){
    $("#div1").fadeIn();
      $("#div2").fadeOut();
  });
});
</script>
</head>
    <title>Happy New Year</title>
<body background={{url10}}>
<center>
<br/>
    <div id="div2">
<h1>听 说 你 想 要 点 特 别 的 ?</h1>
<button>Click Me</button>
    </div>
    <br><br>
    <div id="div1" style="display:none;">
<table border='0' cellspacing='50'>
    
<tr align='center'>
<td><img src={{url11}} height="400" width="300"></td>
<td><p>
    <font>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font>
    </p></td>
    </tr>

    <tr align='center'>
<td><p><font>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font></p>
</td>
<td><img src={{url12}} height="400" width="300"></td>
</tr>
    
    <tr align='center'>
<td><img src={{url13}} height="400" width="300"></td>
<td><p>
    <font>- .... .   .--. .-. --- -... .-.. . -- ...   --- ..-.   -.-- --- ..- .-.   .--. .- ... -   .- .-. .   -.-- --- ..- .-.   -... ..- ... .. -. . ... ...   - .... .   .--. .-. --- -... .-.. . -- ...   --- ..-.   -.-- --- ..- .-.   ..-. ..- - ..- .-. .   .- .-. .   -- -.--   .--. .-. .. ...- .. .-.. . --. . <br/>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </font>
    </p></td>
    </tr>
    <tr align='center'>
      <td colspan='2'><br/></td>
      </tr>
    <tr align='center'>
      <td colspan='2'><br/></td>
      </tr>
    <tr align='center'>
      <td colspan='2'><br/></td>
      </tr>
    <tr align='center'>
      <td colspan='2'><br/></td>
      </tr>

  <tr align='center'>
      <td colspan='2'><img src={{url14}}></td>
      </tr>
</table>
</div>
<br>
</center>
</body>
</html>
